*{
    box-sizing: border-box;
}

body{
    height: 100vh;

    display: grid;
    place-items: center;
}

.container{
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 15px;

    padding: 10px 15px; 
}

h3{
    color: #888;
    font-size: 25px;

    border-bottom: 1px dashed #888;
    line-height: 70px;
    
    margin: 0;
}

small{
    color: #888;
    display: block;
    text-align: right;

    margin-top: 10px;
}

.form{
    margin: 10px 0;
}

.form-control{
    width: 100%;
    font-size: 17px;
    border: none;
    border-bottom: 2px solid orange;

    padding: 13px;

    transition: all .5s;
}

.form-control:focus{
    outline: none;
    border-bottom: 2px solid blue;
}

.list-group{
    height: 350px;
    list-style: none;

    overflow-y: scroll;

    padding: 0;
    margin: 0;
}

.list-group li{
    font-size: 17px;
    background: #f6f6f6;
    border: 1px solid #ddd;

    padding: 15px;
    margin-top: -1px;

    cursor: pointer;
}

.list-group li:hover{
    background: #f1f1f1;
}

.list-group li.done{
    color: #888;
    font-style: italic;
    text-decoration: line-through;
}

.list-group li.done::after{
    content: "\f00c";
    font-family: FontAwesome;

    float: right;
}

.delete-item{
    color: orangered;
    
    float: right;
    margin-left: 20px;
}